@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: #374151;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    background: #c026d3;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #d946ef;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

  .video-background {
    position: relative;
    overflow: hidden;
  }
  
  .video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  .grid {
    z-index: 1; /* Ensure the grid content is above the video */
  }

@keyframes bounce {
  0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.bounce {
  animation: bounce 3s infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-10px);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.planet {
  animation: moveUpDown 3s infinite;
}
.planet2 {
  animation: moveUpDown 4s infinite;
}
.planet3 {
  animation: moveUpDown 2s infinite;
}